.thinking_prompt_container {
    flex: 1 1 auto;
}

.thoughts {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-top: 0;
    width: 100%;
    color: var(--SmartThemeBodyColor);
    position: relative;

    border-radius: 10px;
    background-color: var(--SmartThemeBotMesBlurTintColor);
    margin-bottom: 0;
    border: 1px solid var(--SmartThemeBorderColor);
}

.thought_details {
    width: 100%;
}

.thought_summary_container {
    display: inline-flex;
    width: calc(100% - 1.1em);
}

.thought_control_buttons {
    display: inline-flex;
    gap: 4px;
}

.generated_thought_name {
    font-weight: 600;
    margin: 10px 3px 0 5px;
    padding: 5px 0 5px 10px;
    /*background-color: var(--SmartThemeChatTintColor);*/
    /*background-color: var(--SmartThemeBorderColor);*/
    border-left: 3px solid var(--SmartThemeBorderColor);
}

.generated_thought {
    margin: 0 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    background-color: var(--SmartThemeShadowColor);
    border-left: 3px solid var(--SmartThemeBorderColor);
}

.generated_thought q:before,
.generated_thought q:after {
    content: '';
}

.thoughts i {
    display: inline;
}

.unbound_thoughts {
    background-color: rgba(255, 0, 0, 0.1);
    background-blend-mode: multiply;
}

.stepthink_shutdown_turn_off {
    background-color: rgba(255, 0, 0, 0.1);
    background-blend-mode: multiply;
}

.stepthink_shutdown_turn_on {
    background-color: rgba(0, 255, 0, 0.1);
    background-blend-mode: multiply;
}
